
  <main>
    <h1>Account Management</h1>
    <% if (message) { %>
      <p class="flash-message">
        <%= message %>
      </p>
      <% } %>
        <p>You're logged in.</p>
  </main>
